# Azure OpenAI API Credentials
AZURE_OPENAI_API_ENDPOINT = "yor-azure-openai-endpoint"
AZURE_OPENAI_API_KEY = "your-azure-openai-api-key"

# Azure SQL Database Credentials
AZURE_SQL_SERVER = "your-server-name.database.windows.net"
AZURE_SQL_DATABASE = "your-database-name"
AZURE_SQL_USERNAME = "your-database-username"
AZURE_SQL_PASSWORD = "your-database-password"
